In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
application_train = pd.read_csv('/content/drive/MyDrive/Home_credit/application_train.csv')
bureau = pd.read_csv('/content/drive/MyDrive/Home_credit/bureau.csv')
bureau_balance = pd.read_csv('/content/drive/MyDrive/Home_credit/bureau_balance.csv')
previous_application = pd.read_csv('/content/drive/MyDrive/Home_credit/previous_application.csv')
POS_CASH_balance = pd.read_csv('/content/drive/MyDrive/Home_credit/POS_CASH_balance.csv')
installments_payments = pd.read_csv('/content/drive/MyDrive/Home_credit/installments_payments.csv')
credit_card_balance = pd.read_csv('/content/drive/MyDrive/Home_credit/credit_card_balance.csv')

In [ ]:

credit_counts = bureau.groupby('SK_ID_CURR')['CREDIT_ACTIVE'].value_counts().unstack(fill_value=0)
credit_counts = credit_counts[['Active', 'Closed']].reset_index()
credit_counts.columns = ['SK_ID_CURR', 'ACTIVE_CREDITS', 'CLOSED_CREDITS']

df = application_train.merge(credit_counts, on='SK_ID_CURR', how='left')

df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,ACTIVE_CREDITS,CLOSED_CREDITS
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,6.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:

credit_type_counts = bureau.groupby('SK_ID_CURR')['CREDIT_TYPE'].value_counts().unstack(fill_value=0).reset_index()
#rename-
credit_type_counts.columns = ['SK_ID_CURR'] + ['CREDIT_TYPE_' + col for col in credit_type_counts.columns if col != 'SK_ID_CURR']

df = application_train.merge(credit_type_counts, on='SK_ID_CURR', how='left')

df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,CREDIT_TYPE_Cash loan (non-earmarked),CREDIT_TYPE_Consumer credit,CREDIT_TYPE_Credit card,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#Count the number of each credit currency
credit_currency_counts = bureau.groupby('SK_ID_CURR')['CREDIT_CURRENCY'].value_counts().unstack(fill_value=0).reset_index()

# Rename
credit_currency_counts.columns = ['SK_ID_CURR'] + ['CREDIT_CURRENCY_' + col for col in credit_currency_counts.columns if col != 'SK_ID_CURR']

df = application_train.merge(credit_currency_counts, on='SK_ID_CURR', how='left')
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,8.0,0.0,0.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [ ]:
#aggregate statistics DAYS_CREDIT column
def aggregate_days_credit(df, column_name):
    agg_df = df.groupby('SK_ID_CURR')[column_name].agg(['min', 'max', 'mean']).reset_index()
    agg_df.columns = ['SK_ID_CURR', f'{column_name}_MIN', f'{column_name}_MAX', f'{column_name}_AVG']
    return agg_df

days_credit_columns = ['DAYS_CREDIT', 'DAYS_CREDIT_ENDDATE', 'DAYS_CREDIT_UPDATE', 'DAYS_ENDDATE_FACT']

for col in days_credit_columns:
    agg_df = aggregate_days_credit(bureau, col)
    df = df.merge(agg_df, on='SK_ID_CURR', how='left')

In [ ]:
credit_day_overdue_sum = bureau.groupby('SK_ID_CURR')['CREDIT_DAY_OVERDUE'].sum().reset_index()
credit_day_overdue_sum.columns = ['SK_ID_CURR', 'CREDIT_DAY_OVERDUE_SUM']

df = df.merge(credit_day_overdue_sum, on='SK_ID_CURR', how='left')

In [ ]:
AMT_CREDIT_MAX_OVERDUE_sum = bureau.groupby('SK_ID_CURR')['AMT_CREDIT_MAX_OVERDUE'].max().reset_index()
AMT_CREDIT_MAX_OVERDUE_sum.columns = ['SK_ID_CURR', 'AMT_CREDIT_MAX_OVERDUE']

df = df.merge(AMT_CREDIT_MAX_OVERDUE_sum, on='SK_ID_CURR', how='left')

In [ ]:
CNT_CREDIT_PROLONG_sum = bureau.groupby('SK_ID_CURR')['CNT_CREDIT_PROLONG'].max().reset_index()
CNT_CREDIT_PROLONG_sum.columns = ['SK_ID_CURR', 'CNT_CREDIT_PROLONG']

df = df.merge(CNT_CREDIT_PROLONG_sum, on='SK_ID_CURR', how='left')

In [ ]:
Total_credit_sum = bureau.groupby('SK_ID_CURR')['AMT_CREDIT_SUM'].sum().reset_index()
Total_credit_sum.columns = ['SK_ID_CURR', 'AMT_CREDIT_SUM']

df = df.merge(Total_credit_sum, on='SK_ID_CURR', how='left')

In [ ]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,DAYS_CREDIT_MIN,DAYS_CREDIT_MAX,DAYS_CREDIT_AVG,DAYS_CREDIT_ENDDATE_MIN,DAYS_CREDIT_ENDDATE_MAX,DAYS_CREDIT_ENDDATE_AVG,DAYS_CREDIT_UPDATE_MIN,DAYS_CREDIT_UPDATE_MAX,DAYS_CREDIT_UPDATE_AVG,DAYS_ENDDATE_FACT_MIN,DAYS_ENDDATE_FACT_MAX,DAYS_ENDDATE_FACT_AVG,CREDIT_DAY_OVERDUE_SUM,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,8.0,0.0,0.0,0.0,-1437.0,-103.0,-874.00,-1072.0,780.0,-349.0,-1185.0,-7.0,-499.875,-1185.0,-36.0,-697.500000,0.0,5043.645,0.0,865055.565
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,-2586.0,-606.0,-1400.75,-2434.0,1216.0,-544.5,-2131.0,-43.0,-816.000,-2131.0,-540.0,-1097.333333,0.0,0.000,0.0,1017400.500
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,-1326.0,-408.0,-867.00,-595.0,-382.0,-488.5,-682.0,-382.0,-532.000,-683.0,-382.0,-532.500000,0.0,0.000,0.0,189037.800
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-1149.0,-1149.0,-1149.00,-783.0,-783.0,-783.0,-783.0,-783.0,-783.000,-783.0,-783.0,-783.000000,0.0,0.000,0.0,146250.000

In [ ]:
df.shape

(307511, 142)

In [ ]:
AMT_CREDIT_SUM_DEBT_sum = bureau.groupby('SK_ID_CURR')['AMT_CREDIT_SUM_DEBT'].sum().reset_index()
AMT_CREDIT_SUM_DEBT_sum.columns = ['SK_ID_CURR', 'AMT_CREDIT_SUM_DEBT']

df = df.merge(AMT_CREDIT_SUM_DEBT_sum, on='SK_ID_CURR', how='left')

In [ ]:
AMT_CREDIT_SUM_LIMIT_sum = bureau.groupby('SK_ID_CURR')['AMT_CREDIT_SUM_LIMIT'].sum().reset_index()
AMT_CREDIT_SUM_LIMIT_sum.columns = ['SK_ID_CURR', 'AMT_CREDIT_SUM_LIMIT']

df = df.merge(AMT_CREDIT_SUM_LIMIT_sum, on='SK_ID_CURR', how='left')

In [ ]:
AMT_CREDIT_SUM_OVERDUE_sum = bureau.groupby('SK_ID_CURR')['AMT_CREDIT_SUM_OVERDUE'].sum().reset_index()
AMT_CREDIT_SUM_OVERDUE_sum.columns = ['SK_ID_CURR', 'AMT_CREDIT_SUM_OVERDUE']

df = df.merge(AMT_CREDIT_SUM_OVERDUE_sum, on='SK_ID_CURR', how='left')

In [ ]:
AMT_ANNUITY_total = bureau.groupby('SK_ID_CURR')['AMT_ANNUITY'].sum().reset_index()
AMT_ANNUITY_total.columns = ['SK_ID_CURR', 'AMT_ANNUITY']

df = df.merge(AMT_ANNUITY_total, on='SK_ID_CURR', how='left')

In [ ]:
import numpy as np
grouped = bureau_balance.groupby(['SK_ID_BUREAU', 'STATUS']).size().unstack(fill_value=0)
grouped.columns = [f'STATUS_CNT_{col}' for col in grouped.columns]

In [ ]:
grouped = grouped.reset_index()

# Left join with the bureau DataFrame to get sk_id_curr
merged_bureau = pd.merge(bureau[['SK_ID_BUREAU', 'SK_ID_CURR']], grouped, on='SK_ID_BUREAU', how='left')

# Aggregate by 'sk_id_curr'
aggregated = merged_bureau.groupby('SK_ID_CURR').sum().reset_index()

# Select only the aggregated status columns and sk_id_curr
aggregated_status = aggregated[['SK_ID_CURR'] + [col for col in aggregated.columns if col.startswith('STATUS_CNT_')]]

df = pd.merge(df, aggregated_status, on='SK_ID_CURR', how='left')

In [ ]:
object_cols = previous_application.select_dtypes(include=['object']).columns

result_df = previous_application[['SK_ID_CURR']].drop_duplicates().set_index('SK_ID_CURR')

for col in object_cols:

    pivot_df = previous_application.pivot_table(index='SK_ID_CURR',
                                                columns=col,
                                                aggfunc='size',
                                                fill_value=0)

    pivot_df.columns = [f'{col}_{str(v)}_count' for v in pivot_df.columns]

    result_df = result_df.merge(pivot_df, left_index=True, right_index=True, how='left')


result_df.reset_index(inplace=True)

In [ ]:
df = df.merge(result_df, on='SK_ID_CURR', how='left')

In [ ]:
# Identify amount-type columns (those starting with 'AMT_')
amount_cols = [col for col in previous_application.columns if col.startswith('AMT_')]

amt_sums = previous_application.groupby('SK_ID_CURR')[amount_cols].sum().reset_index()


amt_sums.columns = [f'{col}_prevSUM' if col != 'SK_ID_CURR' else col for col in amt_sums.columns]

df = df.merge(amt_sums, on='SK_ID_CURR', how='left')

In [ ]:
def get_part_of_day(hour):
    if 0 <= hour <= 5:
        return '00_05'
    elif 6 <= hour <= 11:
        return '06_11'
    elif 12 <= hour <= 17:
        return '12_17'
    elif 18 <= hour <= 23:
        return '18_23'

previous_application['PART_OF_DAY'] = previous_application['HOUR_APPR_PROCESS_START'].apply(get_part_of_day)


part_of_day_counts = previous_application.pivot_table(index='SK_ID_CURR',
                                                      columns='PART_OF_DAY',
                                                      aggfunc='size',
                                                      fill_value=0).reset_index()


part_of_day_counts.columns = ['SK_ID_CURR', 'HOUR_APPR_PROCESS_STARTT_00_05', 'HOUR_APPR_PROCESS_START_06_11', 'HOUR_APPR_PROCESS_START_12_17', 'HOUR_APPR_PROCESS_START_18_23']


df = df.merge(part_of_day_counts, on='SK_ID_CURR', how='left')

df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY_x,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,DAYS_CREDIT_MIN,DAYS_CREDIT_MAX,DAYS_CREDIT_AVG,DAYS_CREDIT_ENDDATE_MIN,DAYS_CREDIT_ENDDATE_MAX,DAYS_CREDIT_ENDDATE_AVG,DAYS_CREDIT_UPDATE_MIN,DAYS_CREDIT_UPDATE_MAX,DAYS_CREDIT_UPDATE_AVG,DAYS_ENDDATE_FACT_MIN,DAYS_ENDDATE_FACT_MAX,DAYS_ENDDATE_FACT_AVG,CREDIT_DAY_OVERDUE_SUM,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,AMT_ANNUITY_y,STATUS_CNT_0,STATUS_CNT_1,STATUS_CNT_2,STATUS_CNT_3,STATUS_CNT_4,STATUS_CNT_5,STATUS_CNT_C,STATUS_CNT_X,NAME_CONTRACT_TYPE_Cash loans_count,NAME_CONTRACT_TYPE_Consumer loans_count,NAME_CONTRACT_TYPE_Revolving loans_count,NAME_CONTRACT_TYPE_XNA_count,WEEKDAY_APPR_PROCESS_START_FRIDAY_count,WEEKDAY_APPR_PROCESS_START_MONDAY_count,WEEKDAY_APPR_PROCESS_START_SATURDAY_count,WEEKDAY_APPR_PROCESS_START_SUNDAY_count,WEEKDAY_APPR_PROCESS_START_THURSDAY_count,WEEKDAY_APPR_PROCESS_START_TUESDAY_count,WEEKDAY_APPR_PROCESS_START_WEDNESDAY_count,FLAG_LAST_APPL_PER_CONTRACT_N_count,FLAG_LAST_APPL_PER_CONTRACT_Y_count,NAME_CASH_LOAN_PURPOSE_Building a house or an annex_count,NAME_CASH_LOAN_PURPOSE_Business development_count,NAME_CASH_LOAN_PURPOSE_Buying a garage_count,NAME_CASH_LOAN_PURPOSE_Buying a holiday home / land_count,NAME_CASH_LOAN_PURPOSE_Buying a home_count,NAME_CASH_LOAN_PURPOSE_Buying a new car_count,NAME_CASH_LOAN_PURPOSE_Buying a used car_count,NAME_CASH_LOAN_PURPOSE_Car repairs_count,NAME_CASH_LOAN_PURPOSE_Education_count,NAME_CASH_LOAN_PURPOSE_Everyday expenses_count,NAME_CASH_LOAN_PURPOSE_Furniture_count,NAME_CASH_LOAN_PURPOSE_Gasification / water supply_count,NAME_CASH_LOAN_PURPOSE_Hobby_count,NAME_CASH_LOAN_PURPOSE_Journey_count,NAME_CASH_LOAN_PURPOSE_Medicine_count,NAME_CASH_LOAN_PURPOSE_Money for a third person_count,NAME_CASH_LOAN_PURPOSE_Other_count,NAME_CASH_LOAN_PURPOSE_Payments on other loans_count,NAME_CASH_LOAN_PURPOSE_Purchase of electronic equipment_count,NAME_CASH_LOAN_PURPOSE_Refusal to name the goal_count,NAME_CASH_LOAN_PURPOSE_Repairs_count,NAME_CASH_LOAN_PURPOSE_Urgent needs_count,NAME_CASH_LOAN_PURPOSE_Wedding / gift / holiday_count,NAME_CASH_LOAN_PURPOSE_XAP_count,NAME_CASH_LOAN_PURPOSE_XNA_count,NAME_CONTRACT_STATUS_Approved_count,NAME_CONTRACT_STATUS_Canceled_count,NAME_CONTRACT_STATUS_Refused_count,NAME_CONTRACT_STATUS_Unused offer_count,NAME_PAYMENT_TYPE_Cash through the bank_count,NAME_PAYMENT_TYPE_Cashless from the account of the employer_count,NAME_PAYMENT_TYPE_Non-cash from your account_count,NAME_PAYMENT_TYPE_XNA_count,CODE_REJECT_REASON_CLIENT_count,CODE_REJECT_REASON_HC_count,CODE_REJECT_REASON_LIMIT_count,CODE_REJECT_REASON_SCO_count,CODE_REJECT_REASON_SCOFR_count,CODE_REJECT_REASON_SYSTEM_count,CODE_REJECT_REASON_VERIF_count,CODE_REJECT_REASON_XAP_count,CODE_REJECT_REASON_XNA_count,NAME_TYPE_SUITE_Children_count,NAME_TYPE_SUITE_Family_count,NAME_TYPE_SUITE_Group of people_count,NAME_TYPE_SUITE_Other_A_count,NAME_TYPE_SUITE_Other_B_count,"NAME_TYPE_SUITE_Spouse, partner_count",NAME_TYPE_SUITE_Unaccompanied_count,NAME_CLIENT_TYPE_New_count,NAME_CLIENT_TYPE_Refreshed_count,NAME_CLIENT_TYPE_Repeater_count,NAME_CLIENT_TYPE_XNA_count,NAME_GOODS_CATEGORY_Additional Service_count,NAME_GOODS_CATEGORY_Animals_count,NAME_GOODS_CATEGORY_Audio/Video_count,NAME_GOODS_CATEGORY_Auto Accessories_count,NAME_GOODS_CATEGORY_Clothing and Accessories_count,NAME_GOODS_CATEGORY_Computers_count,NAME_GOODS_CATEGORY_Construction Materials_count,NAME_GOODS_CATEGORY_Consumer Electronics_count,NAME_GOODS_CATEGORY_Direct Sales_count,NAME_GOODS_CATEGORY_Education_count,NAME_GOODS_CATEGORY_Fitness_count,NAME_GOODS_CATEGORY_Furniture_count,NAME_GOODS_CATEGORY_Gardening_count,NAME_GOODS_CATEGORY_Homewares_count,NAME_GOODS_CATEGORY_House Construction_count,NAME_GOODS_CATEGORY_Insurance_count,NAME_GOODS_CATEGORY_Jewelry_count,NAME_GOODS_CATEGORY_Medical Supplies_count,NAME_GOODS_CATEGORY_Medicine_count,NAME_GOODS_CATEGORY_Mobile_count,NAME_GOODS_CATEGORY_Office Appliances_count,NAME_GOODS_CATEGORY_Other_count,NAME_GOODS_CATEGORY_Photo / Cinema Equipment_count,NAME_GOODS_CATEGORY_Sport and Leisure_count,NAME_GOODS_CATEGORY_Tourism_count,NAME_GOODS_CATEGORY_Vehicles_count,NAME_GOODS_CATEGORY_Weapon_count,NAME_GOODS_CATEGORY_XNA_count,NAME_PORTFOLIO_Cards_count,NAME_PORTFOLIO_Cars_count,NAME_PORTFOLIO_Cash_count,NAME_PORTFOLIO_POS_count,NAME_PORTFOLIO_XNA_count,NAME_PRODUCT_TYPE_XNA_count,NAME_PRODUCT_TYPE_walk-in_count,NAME_PRODUCT_TYPE_x-sell_count,CHANNEL_TYPE_AP+ (Cash loan)_count,CHANNEL_TYPE_Car dealer_count,CHANNEL_TYPE_Channel of corporate sales_count,CHANNEL_TYPE_Contact center_count,CHANNEL_TYPE_Country-wide_count,CHANNEL_TYPE_Credit and cash offices_count,CHANNEL_TYPE_Regional / Local_count,CHANNEL_TYPE_Stone_count,NAME_SELLER_INDUSTRY_Auto technology_count,NAME_SELLER_INDUSTRY_Clothing_count,NAME_SELLER_INDUSTRY_Connectivity_count,NAME_SELLER_INDUSTRY_Construction_count,NAME_SELLER_INDUSTRY_Consumer electronics_count,NAME_SELLER_INDUSTRY_Furniture_count,NAME_SELLER_INDUSTRY_Industry_count,NAME_SELLER_INDUSTRY_Jewelry_count,NAME_SELLER_INDUSTRY_MLM partners_count,NAME_SELLER_INDUSTRY_Tourism_count,NAME_SELLER_INDUSTRY_XNA_count,NAME_YIELD_GROUP_XNA_count,NAME_YIELD_GROUP_high_count,NAME_YIELD_GROUP_low_action_count,NAME_YIELD_GROUP_low_normal_count,NAME_YIELD_GROUP_middle_count,PRODUCT_COMBINATION_Card Street_count,PRODUCT_COMBINATION_Card X-Sell_count,PRODUCT_COMBINATION_Cash_count,PRODUCT_COMBINATION_Cash Street: high_count,PRODUCT_COMBINATION_Cash Street: low_count,PRODUCT_COMBINATION_Cash Street: middle_count,PRODUCT_COMBINATION_Cash X-Sell: high_count,PRODUCT_COMBINATION_Cash X-Sell: low_count,PRODUCT_COMBINATION_Cash X-Sell: middle_count,PRODUCT_COMBINATION_POS household with interest_count,PRODUCT_COMBINATION_POS household without interest_count,PRODUCT_COMBINATION_POS industry with interest_count,PRODUCT_COMBINATION_POS industry without interest_count,PRODUCT_COMBINATION_POS mobile with interest_count,PRODUCT_COMBINATION_POS mobile without interest_count,PRODUCT_COMBINATION_POS other with interest_count,PRODUCT_COMBINATION_POS others without interest_count,AMT_ANNUITY_prevSUM,AMT_APPLICATION_prevSUM,AMT_CREDIT_prevSUM,AMT_DOWN_PAYMENT_prevSUM,AMT_GOODS_PRICE_prevSUM,HOUR_APPR_PROCESS_STARTT_00_05,HOUR_APPR_PROCESS_START_06_11,HOUR_APPR_PROCESS_START_12_17,HOUR_APPR_PROCESS_START_18_23
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,8.0,0.0,0.0,0.0,-1437.0,-103.0,-874.00,-1072.0,780.0,-349.0,-1185.0,-7.0,-499.875,-1185.0,-36.0,-697.500000,0.0,5043.645,0.0,865055.565,245781.0,31988.565,0.0,0.0,45.0,27.0,0.0,0.0,0.0,0.0,23.0,15.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,9251.775,179055.00,179055.0,0.00,179055.00,0.0,1.0,0.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,-2586.0,-606.0,-1400.75,-2434.0,1216.0,-544.5,-2131.0,-43.0,-816.000,-2131.0,-540.0,-1097.333333,0.0,0.000,0.0,1017400.500,0.0,810000.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,169661.970,1306309.50,1452573.0,6885.00,1306309.50,0.0,0.0,3.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,-1326.0,-408.0,-867.00,-595.0,-382.0,-488.5,-682.0,-382.0,-532.000,-683.0,-382.0,-532.500000,0.0,0.000,0.0,189037.800,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5357.250,24282.00,20106.0,4860.00,24282.00,1.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,2.0,2.0,0.0,0.0,0.0,1.0,1.0,6.0,1.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,5.0,5.0,3.0,1.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,8.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,0.0,3.0,2.0,3.0,5.0,0.0,4.0,0.0,0.0,0.0,0.0,1.0,7.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,7.0,4.0,2.0,0.0,2.0,1.0,1.0,1.0,2.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,141907.050,2449829.34,2625259.5,69680.34,2449829.34,0.0,0.0,9.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-1149.0,-1149.0,-1149.00,-783.0,-783.0,-783.0,-783.0,-783.0,-783.000,-783.0,-783.0,-783.000000,0.0,0.000,0.0,146250.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,0.0,0.0,1.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4.0,6.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,2.0,0.0,2.0,1.0,3.0,1.0,0.0,0.0,0.0,3.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,73672.830,903181.50,999832.5,6781.50,903181.50,0.0,2.0,4.0,0.0

In [ ]:
unique_values = previous_application['NFLAG_LAST_APPL_IN_DAY'].unique()

nflag_counts = previous_application.pivot_table(index='SK_ID_CURR',
                                                 columns='NFLAG_LAST_APPL_IN_DAY',
                                                 aggfunc='size',
                                                 fill_value=0).reset_index()

# Rename columns
nflag_counts.columns = ['SK_ID_CURR'] + [f'NFLAG_{val}_COUNT' for val in unique_values]


df = df.merge(nflag_counts, on='SK_ID_CURR', how='left')

In [ ]:

aggregated_data = previous_application.groupby('SK_ID_CURR')['RATE_DOWN_PAYMENT'].agg([
    ('MEAN_RATE_DOWN_PAYMENT', 'mean'),
    ('MEDIAN_RATE_DOWN_PAYMENT', 'median'),
    ('MAX_RATE_DOWN_PAYMENT', 'max'),
    ('MIN_RATE_DOWN_PAYMENT', 'min'),
]).reset_index()

aggregated_data.head()

,SK_ID_CURR,MEAN_RATE_DOWN_PAYMENT,MEDIAN_RATE_DOWN_PAYMENT,MAX_RATE_DOWN_PAYMENT,MIN_RATE_DOWN_PAYMENT
0,100001,0.104326,0.104326,0.104326,0.104326
1,100002,0.000000,0.000000,0.000000,0.000000
2,100003,0.050030,0.050030,0.100061,0.000000
3,100004,0.212008,0.212008,0.212008,0.212008
4,100005,0.108964,0.108964,0.108964,0.108964

In [ ]:
df = df.merge(aggregated_data, on='SK_ID_CURR', how='left')

In [ ]:
def aggregate_days_credit(df, column_name):
    agg_df = df.groupby('SK_ID_CURR')[column_name].agg(['min', 'max', 'mean']).reset_index()
    agg_df.columns = ['SK_ID_CURR', f'{column_name}_MIN', f'{column_name}_MAX', f'{column_name}_AVG']
    return agg_df

# List of DAYS_CREDIT columns
days_credit_columns = ['DAYS_DECISION', 'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE','DAYS_LAST_DUE_1ST_VERSION','DAYS_TERMINATION']

# Aggregate and merge each DAYS_CREDIT column with df
for col in days_credit_columns:
    prevagg_df = aggregate_days_credit(previous_application, col)
    df = df.merge(prevagg_df, on='SK_ID_CURR', how='left')

In [ ]:
del prevagg_df
del agg_df
del credit_currency_counts
del credit_day_overdue_sum
del AMT_CREDIT_MAX_OVERDUE_sum
del CNT_CREDIT_PROLONG_sum
del Total_credit_sum
del AMT_CREDIT_SUM_DEBT_sum
del AMT_CREDIT_SUM_LIMIT_sum
del AMT_CREDIT_SUM_OVERDUE_sum
del AMT_ANNUITY_total
del credit_counts
del credit_type_counts
del amount_cols
del merged_bureau
del aggregated

del aggregated_status

In [ ]:
del result_df
del amt_sums
del part_of_day_counts
del nflag_counts
del aggregated_data

In [ ]:
del grouped

In [ ]:
POS_CASH_balance['INSTALMENT_DIFF'] = POS_CASH_balance['CNT_INSTALMENT'] - POS_CASH_balance['CNT_INSTALMENT_FUTURE']

instalment_diff_sum = POS_CASH_balance.groupby('SK_ID_CURR')['INSTALMENT_DIFF'].sum().reset_index()
instalment_diff_sum.rename(columns={'INSTALMENT_DIFF': 'SUM_INSTALMENT_DIFF'}, inplace=True)

In [ ]:
df = df.merge(instalment_diff_sum, on='SK_ID_CURR', how='left')

In [ ]:
del instalment_diff_sum

In [ ]:
instalment_future_sum = POS_CASH_balance.groupby('SK_ID_CURR')['CNT_INSTALMENT_FUTURE'].sum().reset_index()
instalment_future_sum.rename(columns={'CNT_INSTALMENT_FUTURE': 'SUM_CNT_INSTALMENT_FUTURE'}, inplace=True)

df = df.merge(instalment_future_sum, on='SK_ID_CURR', how='left')
del instalment_future_sum

In [ ]:
#pivot table-count occurrences of value for each SK_ID_CURR
contract_status_counts = pd.pivot_table(
    POS_CASH_balance,
    index='SK_ID_CURR',
    columns='NAME_CONTRACT_STATUS',
    aggfunc='size',
    fill_value=0
).reset_index()


contract_status_counts.columns.name = None
contract_status_counts.rename(columns=lambda x: x if x == 'SK_ID_CURR' else f'COUNT_{x}', inplace=True)

df = df.merge(contract_status_counts, on='SK_ID_CURR', how='left')

In [ ]:
del contract_status_counts

In [ ]:

dpd_min = POS_CASH_balance['SK_DPD'].min()
dpd_max = POS_CASH_balance['SK_DPD'].max()
print(f"SK_DPD Range: Min = {dpd_min}, Max = {dpd_max}")


dpd_def_min = POS_CASH_balance['SK_DPD_DEF'].min()
dpd_def_max = POS_CASH_balance['SK_DPD_DEF'].max()
print(f"SK_DPD_DEF Range: Min = {dpd_def_min}, Max = {dpd_def_max}")

SK_DPD Range: Min = 0, Max = 4231
SK_DPD_DEF Range: Min = 0, Max = 3595

In [ ]:
sum_dpd = POS_CASH_balance.groupby('SK_ID_CURR')['SK_DPD'].sum().reset_index()
sum_dpd.rename(columns={'SK_DPD': 'pos_SUM_SK_DPD'}, inplace=True)

# Aggregate SK_DPD_DEF by summing values for each SK_ID_CURR
sum_dpd_def = POS_CASH_balance.groupby('SK_ID_CURR')['SK_DPD_DEF'].sum().reset_index()
sum_dpd_def.rename(columns={'SK_DPD_DEF': 'pos_SUM_SK_DPD_DEF'}, inplace=True)

# Merge aggregated results with df

df = df.merge(sum_dpd, on='SK_ID_CURR', how='left')
df = df.merge(sum_dpd_def, on='SK_ID_CURR', how='left')

del sum_dpd
del sum_dpd_def

In [ ]:
amt_columns = [col for col in credit_card_balance.columns if col.startswith('AMT_')]

# Aggregate 'amt_' column
aggregated_amt = credit_card_balance.groupby('SK_ID_CURR')[amt_columns].sum().reset_index()

aggregated_amt.columns = ['SK_ID_CURR'] + [f'credit_card_{col}' for col in amt_columns]

df = df.merge(aggregated_amt, on='SK_ID_CURR', how='left')

del aggregated_amt
del amt_columns

In [ ]:
cnt_columns = [col for col in credit_card_balance.columns if col.startswith('CNT_')]

aggregated_cnt = credit_card_balance.groupby('SK_ID_CURR')[cnt_columns].sum().reset_index()

aggregated_cnt.columns = ['SK_ID_CURR'] + [f'credit_card_{col}' for col in cnt_columns]

df = df.merge(aggregated_cnt, on='SK_ID_CURR', how='left')
del cnt_columns
del aggregated_cnt

In [ ]:
status_dummies = pd.get_dummies(credit_card_balance['NAME_CONTRACT_STATUS'])

status_dummies['SK_ID_CURR'] = credit_card_balance['SK_ID_CURR']

aggregated_status = status_dummies.groupby('SK_ID_CURR').sum().reset_index()

aggregated_status.columns = ['SK_ID_CURR'] + [f'credit_card_{col}_count' for col in status_dummies.columns if col != 'SK_ID_CURR']

df = df.merge(aggregated_status, on='SK_ID_CURR', how='left')

del status_dummies
del aggregated_status

In [ ]:
aggregated_dpd = credit_card_balance.groupby('SK_ID_CURR')[['SK_DPD', 'SK_DPD_DEF']].sum().reset_index()

# Rename columns to reflect they are aggregated
aggregated_dpd.columns = ['SK_ID_CURR', 'credit_card_SK_DPD_sum', 'credit_card_SK_DPD_DEF_sum']

# Merge aggregated results with df
df = df.merge(aggregated_dpd, on='SK_ID_CURR', how='left')
del aggregated_dpd

In [ ]:
installments_payments['PAYMENT_INSTALMENT_RATIO'] = installments_payments['AMT_PAYMENT'] / installments_payments['AMT_INSTALMENT']

avg_payment_instalment_ratio = installments_payments.groupby('SK_ID_CURR')['PAYMENT_INSTALMENT_RATIO'].mean().reset_index()

avg_payment_instalment_ratio.rename(columns={'PAYMENT_INSTALMENT_RATIO': 'AVG_PAYMENT_INSTALMENT_RATIO'}, inplace=True)
avg_payment_instalment_ratio['AVG_PAYMENT_INSTALMENT_RATIO'].replace([np.inf, -np.inf], 0, inplace=True)


df = df.merge(avg_payment_instalment_ratio, on='SK_ID_CURR', how='left')

del avg_payment_instalment_ratio

In [ ]:
installments_payments['ENTRY_INSTALMENT_RATIO'] = installments_payments['DAYS_ENTRY_PAYMENT'] / installments_payments['DAYS_INSTALMENT']

avg_entry_instalment_ratio = installments_payments.groupby('SK_ID_CURR')['ENTRY_INSTALMENT_RATIO'].mean().reset_index()

installments_payments['ENTRY_INSTALMENT_RATIO'].replace([np.inf, -np.inf], 0, inplace=True)
avg_entry_instalment_ratio.rename(columns={'ENTRY_INSTALMENT_RATIO': 'AVG_ENTRY_INSTALMENT_RATIO'}, inplace=True)

df = df.merge(avg_entry_instalment_ratio, on='SK_ID_CURR', how='left')
del avg_entry_instalment_ratio

In [ ]:
max_instalment_version = installments_payments.groupby('SK_ID_CURR')['NUM_INSTALMENT_VERSION'].max().reset_index()

#Rename
max_instalment_version.rename(columns={'NUM_INSTALMENT_VERSION': 'MAX_INSTALMENT_VERSION'}, inplace=True)

#Merge with df
df = df.merge(max_instalment_version, on='SK_ID_CURR', how='left')
del max_instalment_version

In [ ]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

non_numeric_columns = df.select_dtypes(include=['object']).columns

for col in non_numeric_columns:
    df[col] = label_encoder.fit_transform(df[col])

In [ ]:
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import classification_report, accuracy_score


y = df['TARGET']
X = df.drop(columns=['TARGET'])


neg, pos = y.value_counts()
scale = neg / pos

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

xgb_clf = XGBClassifier(
    objective='binary:logistic',
    random_state=42,
    n_estimators=100,
    learning_rate=0.1,
    max_depth=5,
    scale_pos_weight=10
)


xgb_clf.fit(
    X_train,
    y_train,
    eval_set=[(X_test, y_test)],
    verbose=True
)

y_pred = xgb_clf.predict(X_test)


print("Classification Report (Test):")
print(classification_report(y_test, y_pred))

print("Accuracy Score (Test):", accuracy_score(y_test, y_pred))


y_pred_proba = xgb_clf.predict_proba(X_test)[:, 1]

threshold = 0.45
y_pred_adjusted = (y_pred_proba >= threshold).astype(int)

print(f"Classification Report (Threshold = {threshold}):")
print(classification_report(y_test, y_pred_adjusted))

print(f"Accuracy Score (Threshold = {threshold}):", accuracy_score(y_test, y_pred_adjusted))

[0]	validation_0-logloss:0.62961
[1]	validation_0-logloss:0.61958
[2]	validation_0-logloss:0.61108
[3]	validation_0-logloss:0.60392
[4]	validation_0-logloss:0.59785
[5]	validation_0-logloss:0.59254
[6]	validation_0-logloss:0.58796
[7]	validation_0-logloss:0.58393
[8]	validation_0-logloss:0.58056
[9]	validation_0-logloss:0.57739
[10]	validation_0-logloss:0.57435
[11]	validation_0-logloss:0.57188
[12]	validation_0-logloss:0.56940
[13]	validation_0-logloss:0.56725
[14]	validation_0-logloss:0.56488
[15]	validation_0-logloss:0.56300
[16]	validation_0-logloss:0.56089
[17]	validation_0-logloss:0.55907
[18]	validation_0-logloss:0.55726
[19]	validation_0-logloss:0.55558
[20]	validation_0-logloss:0.55388
[21]	validation_0-logloss:0.55245
[22]	validation_0-logloss:0.55092
[23]	validation_0-logloss:0.54960
[24]	validation_0-logloss:0.54824
[25]	validation_0-logloss:0.54709
[26]	validation_0-logloss:0.54608
[27]	validation_0-logloss:0.54504
[28]	validation_0-logloss:0.54378
[29]	validation_0-logloss:0.54263
[30]	validation_0-logloss:0.54168
[31]	validation_0-logloss:0.54068
[32]	validation_0-logloss:0.53972
[33]	validation_0-logloss:0.53896
[34]	validation_0-logloss:0.53828
[35]	validation_0-logloss:0.53747
[36]	validation_0-logloss:0.53666
[37]	validation_0-logloss:0.53572
[38]	validation_0-logloss:0.53499
[39]	validation_0-logloss:0.53432
[40]	validation_0-logloss:0.53365
[41]	validation_0-logloss:0.53300
[42]	validation_0-logloss:0.53208
[43]	validation_0-logloss:0.53130
[44]	validation_0-logloss:0.53060
[45]	validation_0-logloss:0.52996
[46]	validation_0-logloss:0.52926
[47]	validation_0-logloss:0.52866
[48]	validation_0-logloss:0.52802
[49]	validation_0-logloss:0.52749
[50]	validation_0-logloss:0.52697
[51]	validation_0-logloss:0.52652
[52]	validation_0-logloss:0.52588
[53]	validation_0-logloss:0.52543
[54]	validation_0-logloss:0.52485
[55]	validation_0-logloss:0.52455
[56]	validation_0-logloss:0.52405
[57]	validation_0-logloss:0.52344
[58]	validation_0-logloss:0.52305
[59]	validation_0-logloss:0.52247
[60]	validation_0-logloss:0.52201
[61]	validation_0-logloss:0.52160
[62]	validation_0-logloss:0.52126
[63]	validation_0-logloss:0.52090
[64]	validation_0-logloss:0.52057
[65]	validation_0-logloss:0.52010
[66]	validation_0-logloss:0.51972
[67]	validation_0-logloss:0.51924
[68]	validation_0-logloss:0.51886
[69]	validation_0-logloss:0.51850
[70]	validation_0-logloss:0.51819
[71]	validation_0-logloss:0.51789
[72]	validation_0-logloss:0.51733
[73]	validation_0-logloss:0.51690
[74]	validation_0-logloss:0.51656
[75]	validation_0-logloss:0.51622
[76]	validation_0-logloss:0.51589
[77]	validation_0-logloss:0.51545
[78]	validation_0-logloss:0.51502
[79]	validation_0-logloss:0.51466
[80]	validation_0-logloss:0.51434
[81]	validation_0-logloss:0.51399
[82]	validation_0-logloss:0.51376
[83]	validation_0-logloss:0.51340
[84]	validation_0-logloss:0.51316
[85]	validation_0-logloss:0.51286
[86]	validation_0-logloss:0.51252
[87]	validation_0-logloss:0.51227
[88]	validation_0-logloss:0.51184
[89]	validation_0-logloss:0.51156
[90]	validation_0-logloss:0.51134
[91]	validation_0-logloss:0.51115
[92]	validation_0-logloss:0.51081
[93]	validation_0-logloss:0.51057
[94]	validation_0-logloss:0.51031
[95]	validation_0-logloss:0.51002
[96]	validation_0-logloss:0.50977
[97]	validation_0-logloss:0.50943
[98]	validation_0-logloss:0.50922
[99]	validation_0-logloss:0.50894
Classification Report (Test):
              precision    recall  f1-score   support

           0       0.96      0.77      0.85     84841
           1       0.19      0.64      0.30      7413

    accuracy                           0.76     92254
   macro avg       0.58      0.70      0.57     92254
weighted avg       0.90      0.76      0.81     92254

Accuracy Score (Test): 0.7574414117545039
Classification Report (Threshold = 0.45):
              precision    recall  f1-score   support

           0       0.96      0.70      0.81     84841
           1       0.17      0.70      0.28      7413

    accuracy                           0.70     92254
   macro avg       0.57      0.70      0.55     92254
weighted avg       0.90      0.70      0.77     92254

Accuracy Score (Threshold = 0.45): 0.7042079476228673

In [ ]:
results_df = pd.DataFrame({
    'true_labels': y_test,
    'predicted_proba': y_pred_proba
})

results_df.head()

        true_labels  predicted_proba
245895            0         0.686589
98194             0         0.346231
36463             0         0.511696
249923            0         0.289495
158389            0         0.353145

In [ ]:

results_df['decile'] = pd.qcut(results_df['predicted_proba'], 10, labels=False) + 1


decile_analysis = results_df.groupby('decile').agg(
    total_loan_ids=('true_labels', 'count'),
    total_bad=('true_labels', 'sum')
).reset_index()

decile_analysis['bad_rate'] = decile_analysis['total_bad'] / decile_analysis['total_loan_ids']

# Sort by predicted probability to capture top 50 defaulters
results_df_sorted = results_df.sort_values(by='predicted_proba', ascending=False)
top_50_defaulters = results_df_sorted.head(50)

# Count how many defaulters are in the top 3 deciles
top_3_deciles_defaulters = top_50_defaulters[top_50_defaulters['decile'] >=7 ]['true_labels'].sum()


print(f"Number of defaulters in the top 3 deciles: {top_3_deciles_defaulters}")
print(decile_analysis)

Number of defaulters in the top 3 deciles: 34
   decile  total_loan_ids  total_bad  bad_rate
0       1            9226         89  0.009647
1       2            9225        165  0.017886
2       3            9225        232  0.025149
3       4            9226        290  0.031433
4       5            9225        388  0.042060
5       6            9225        557  0.060379
6       7            9226        687  0.074463
7       8            9225        965  0.104607
8       9            9225       1395  0.151220
9      10            9226       2645  0.286690

In [ ]:
top3 = decile_analysis[decile_analysis['decile'] >= 7]

total_bad_in_top3 = top3['total_bad'].sum()

print(f"bad loans in the top 3 deciles: {total_bad_in_top3}")

bad loans in the top 3 deciles: 5692

In [ ]:
from sklearn.metrics import roc_curve, auc

fp, tp, thresholds = roc_curve(y_test, y_pred_proba)
roc_auc = auc(fp, tp)

print(f"AUC: {roc_auc}")

AUC: 0.7740609105645446

In [ ]:
ks_score = max(abs(tp - fp))
print(f"KS Score: {ks_score}")

KS Score: 0.4094962835655348

In [ ]:
from sklearn.metrics import roc_auc_score

auc = roc_auc_score(y_test, y_pred_proba)

gini_coefficient = 2 * auc - 1

print(f"Gini Coefficient: {gini_coefficient}")

Gini Coefficient: 0.5481218211290892